.constitution {
}
.constitution__heading {
  margin-top: 0;
  margin-bottom: 15px;
  color: palette(constitution, text);
  @include heading2;
}

.constitution__instructions {
  margin-top: 0;
  margin-bottom: 15px;
  color: palette(constitution, text);
  @include body--lead;
}
.constitution__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.constitution__sections {
  @include body--lead;
  width: 100%;
  @media #{$mq-medium} {
    width: 48%;
  }
}
.constitution__text {
  border: 1px solid palette(constitution, border);
  box-shadow: 1px 1px 2px palette(constitution, shadow);
  color: palette(constitution, color);
  padding: 0 15px;
  @include body;
  height: 313px;
  overflow-y: scroll;
  width: 100%;
  @media #{$mq-large} {
    width: 48%;
  }
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    //background-color: rgba(0,0,0,.5);
    background-color: palette(constitution, background--scrollbar-thumb);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  &::-webkit-scrollbar-track {
    background-color: palette(constitution, background--scrollbar-track);
  }
}

.constitution__text--selected {
  color: palette(constitution, text--highlight);
  background-color: palette(constitution, background--highlight);
  cursor: pointer;
}
