.feed {
  margin: 2rem auto;
  width: 768px;
  max-width: 100%;
}
.feed__title {
  @include heading2;
}
.feed__card {
  position: relative;
  background: palette(feed, background);
  border: palette(feed, card__border);
  box-shadow: 2px 2px 4px palette(feed, card__shadow);
  color: palette(feed, text);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 1rem;
  @media #{$mq-medium} {
    margin: 2rem;
  }
}
.feed__card-title {
  @include heading3;
  margin-left: 15px;
  margin-right: 15px;
}
.feed__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.feed__card-document {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid palette(feed, card__border);
}
.feed__card-document-title {
  @include heading4;
  margin-left: 15px;
  margin-right: 15px;
  color: palette(feed, text--document);
}
.feed__card-document-text {
  @include body;
  margin-left: 15px;
  margin-right: 15px;
  color: palette(feed, text--document);
}
.feed__card-document-text--highlight {
  color: palette(feed, text--highlight);
  background-color: palette(feed, background--highlight);
}
.feed__card-text-container {
  margin: 10px 15px;
  @include clearfix;
}
.feed__card-text {
  margin-top: 0;
  margin-bottom: 0;
  @include body('sans');
  color: palette(feed, text--faded);
}
.feed__more {
  float: right;
  @include body--small;
  color: palette(feed, text);
  margin-right: 1rem;
}
