.feed {
  margin: auto;
  width: $column-width;
  max-width: 100%;
}
.feed__inner-container {
  @include text-margin-lr;
}
.feed__title {
  @include heading2;
}
.feed__card {
  position: relative;
  background: palette(feed, background);
  border: 1px solid palette(feed, card__border--outer);
  color: palette(feed, text);
  margin-top: $content-margin;
}
.feed__card-title {
  @include heading3;
  margin: $page-margin-mobile;
  @media #{$mq-medium} {
    margin: $content-margin;
  }
}
.feed__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.feed__card-document {
  @include text-margin;
  border: 1px solid palette(feed, card__border--inner);
}
.feed__card-document-title {
  @include heading4;
  @include text-margin;
  color: palette(feed, text--document);
}
.feed__card-document-text {
  @include body;
  @include text-margin;
  color: palette(feed, text--document);
}
.feed__card-document-text--highlight {
  color: palette(feed, text--highlight);
  background-color: palette(feed, background--highlight);
}
.feed__card-text-container {
  @include text-margin;
  @include clearfix;
}
.feed__card-text {
  margin-top: 0;
  margin-bottom: 0;
  @include body('sans');
  color: palette(feed, text--faded);
}
.feed__more {
  float: right;
  @include body--small;
  color: palette(feed, text);
}
.feed__card-thumb-container {
  text-align: center;
  margin: 10px 15px;
  @include clearfix;
}
.feed__card-thumb {
  max-width: 100%;
  height: auto;
}
