$nav-height: 35px;
$nav-items: 3;
$fa-size: 16px;
.header {
  width: 100%;
  @include clearfix;
  position: relative;
  z-index: 10;
  background-color: white;
}
.header__top {
  height: 8rem;
}
.header__skip-link {
  position: absolute;
  top: -40px;
  left: 0px;
  padding: 2px 5px;
  @include body;
  color: palette(header, skip-text);
  transition: top .1s ease-in, background .5s linear;
  &:focus {
    top: 0px;
    background-color: palette(header, skip-bg);
    transition: top .1s ease-in, background .5s linear;
  }
}
.header__logo {
  @include display2;
  font-style: normal;
  margin-left: $page-margin-mobile;
  @media #{$mq-medium} {
    margin-left: $page-margin;
  }
  line-height: 8rem; // cd src && grep -Rn "headerHeight =" *
}
.header__logo-link {
  text-decoration: none;
  color: palette(header, text);
  &:hover {
    color: palette(header, text--hover);
  }
}
.header__icon-list {
  float: right;
}
.header__icon {
  @include body--lead;
  line-height: 8rem; // cd src && grep -Rn "headerHeight =" *
  margin-right: $page-margin-mobile;
  @media #{$mq-medium} {
    margin-right: $page-margin;
  }
  color: palette(header, text);
  &:hover {
    color: palette(header, text--hover);
  }
}
.header__icon--github {
  font-size: 4rem;
}
.header__nav {
  @include clearfix;
  border-top: 1px solid palette(header, border);
  border-bottom: 2px solid palette(header, border);
  height: $nav-height;
  line-height: 1rem;
}
.header__nav-toggle {
  display: inline;
  position: relative;
  @media #{$mq-small} {
    display: none;
  }
}
.header__nav-icon {
  @include heading6;
  height: 100%;
  color: palette(header, text);
  &:hover {
    color: palette(header, text--hover);
  }
  .fa {
    position: absolute;
    font-size: $fa-size;
    margin-top: ($nav-height - $fa-size)/2;
    margin-left: $page-margin-mobile;
  }
}
.nav {
  max-height: $nav-height * $nav-items;
  overflow: hidden;
  transition: max-height 0.1s linear 0s;
  @media #{$mq-small} {
    transition: none;
  }
  &.collapse {
    max-height: 0;
    @media #{$mq-small} {
      max-height: $nav-height * $nav-items;
    }
  }
}
.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  @media #{$mq-medium} {
    margin-left: $page-margin;
  }
}
.nav__list--footer {
  display: none;
  @media #{$mq-small} {
    display: block;
  }
}
.nav__list-item {
  height: $nav-height;
  line-height: $nav-height;
  background-color: palette(header, background);
  border-top: 1px solid palette(header, border);
  @media #{$mq-small} {
    margin-right: 3rem;
    display: inline-block;
    border: none;
  }
}
.nav__link {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: $page-margin-mobile;
  @media #{$mq-medium} {
    padding-left: 0;
  }
}
.nav__link-text {
  @include heading6;
  color: palette(nav, text);
  display: inline;
  &:hover {
    color: palette(nav, text--hover);
  }
}
