.editor__wrapper {
  margin: 2rem auto;
  width: 768px;
  max-width: 100%;
}
.editor {
  padding: 0 3rem;
  min-height: 300px;
}
.editor__title {
  text-align: left;
  margin-top: 0;
  position: relative;
  @include heading1;
}
.editor__title--placeholder {
  opacity: 0.3;
}
.editor__paragraph--placeholder {
  opacity: 0.3;
}
.editor__paragraph {
  text-align: left;
  margin-left: 1px;
  margin-right: 1px;
  position: relative;
  width: 100%;
  border: 0;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none;
  @include body--lead;
}
.editor__paragraph--active {
  border: 1px solid blue;
  margin-left: 0;
  margin-right: 0;
}
.editor__paragraph--hover {
  border: 1px solid red;
  margin-left: 0;
  margin-right: 0;
}
.editor__document {
  background: palette(editor, background);
  border: palette(editor, border);
  box-shadow: 1px 1px 2px palette(editor, shadow);
  color: palette(editor, text);
  padding: 5px 15px;
  margin-bottom: 2rem;
  @include body--italic;
  margin-left: 1px;
  margin-right: 1px;
}
.editor__document--active {
  border: 1px solid blue;
  margin-left: 0;
  margin-right: 0;
}
.editor__document--hover {
  border: 1px solid red;
  margin-left: 0;
  margin-right: 0;
}
.editor__document-highlight {
  color: palette(editor, text--highlight);
  background-color: palette(editor, background--highlight);
}
