.editor__wrapper {
  margin: 2rem auto;
  width: 768px;
  max-width: 100%;
}
.editor {
  padding: 0 3rem;
  min-height: 300px;
}
.editor__title {
  text-align: left;
  margin-top: 0;
  position: relative;
  @include heading1;
}
.editor__title--placeholder {
  opacity: 0.3;
}
.editor__paragraph--placeholder {
  opacity: 0.3;
}
.editor__paragraph {
  text-align: left;
	margin-left: 1px;
	margin-right: 1px;
	position: relative;
	width: 100%;
	border: 0;
	overflow: auto;
	outline: none;
	box-shadow: none;
	resize: none;
	@include body--lead;
}
.editor__paragraph--active {
	border: 1px solid blue;
	margin-left: 0;
	margin-right: 0;
}
.editor__paragraph--hover {
	border: 1px solid red;
	margin-left: 0;
	margin-right: 0;
}
.editor__document {
  background: palette(editor, constitution__background);
  border: palette(editor, constitution__border);
  box-shadow: 1px 1px 2px palette(editor, constitution__shadow);
  color: palette(editor, constitution__text);
	padding: 5px 15px;
  margin-bottom: 2rem;
	@include body--italic;
	margin-left: 1px;
	margin-right: 1px;
}
.editor__document--active {
	border: 1px solid blue;
	margin-left: 0;
	margin-right: 0;
}
.editor__document--hover {
	border: 1px solid red;
	margin-left: 0;
	margin-right: 0;
}
.editor__constitution {
  background: palette(editor, constitution__background);
  border: palette(editor, constitution__border);
  box-shadow: 1px 1px 2px palette(editor, constitution__shadow);
  color: palette(editor, constitution__text);
  padding: 5px 15px;
  margin-bottom: 2rem;
  @include body--italic;
}
.editor__constitution--highlighted {
  color: palette(editor, constitution__text--highlight);
  background-color: palette(editor, constitution__background--highlight);
}
.editor__amendments {
  background: palette(editor, amendments__background);
  border: palette(editor, amendments__border);
  box-shadow: 1px 1px 2px palette(editor, amendments__shadow);
  color: palette(editor, amendments__text);
  padding: 5px 15px;
  margin-bottom: 2rem;
  @include body--italic;
}
.editor__amendments--highlighted {
  color: palette(editor, amendments__text--highlight);
  background-color: palette(editor, amendments__background--highlight);
}
