.video__heading {
  margin-top: 0;
  margin-bottom: 15px;
  color: palette(video, text);
  @include heading2;
}

.video__instructions {
  margin-top: 0;
  margin-bottom: 15px;
  color: palette(video, text);
  @include body--lead;
}

.video__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.video__list-container {
  width: 100%;
  @media #{$mq-medium} {
    width: 48%;
  }
}
.video__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.video__card {
  width: 250px;
  border: 1px solid palette(foundation, card-border);
  box-shadow: 1px 1px 2px palette(foundation, shadow);
  margin-bottom: 2rem;
  &:hover {
    cursor: pointer;
  }
}
.video__card-title {
  @include heading3;
  margin: 1rem;
}
.video__card-date {
  @include body;
  margin: 1rem;
}
.video__thumb-container {
  width: 250px;
}
.video__thumb {
  max-width: 100%;
  height: auto;
  display: block;
}
.video__container {
  width: 100%;
  @media #{$mq-medium} {
    width: 48%;
  }
}

.video__title {
  @include heading3;
}
.video__date {
  @include body;
}
.video__video {
  max-width: 100%;
}
