/**
*	https://standards.usa.gov/components/typography/#section-/typography/02-pairing-and-styles
* Source Sans Pro headings, Merriweather body
*/
/**
* Colors to be adjusted
*/
/**
* end adjusted
*/
.editor__wrapper {
  margin: 2rem auto;
  width: 768px;
  max-width: 100%; }

.editor {
  position: relative;
  padding: 0 3rem;
  min-height: 300px; }

.editor__inner {
  position: relative; }

.editor__title {
  text-align: left;
  margin-top: 0;
  position: relative;
  height: 61px;
  position: relative;
  z-index: 1;
  width: 100%;
  border: 0;
  overflow: hidden;
  outline: none;
  box-shadow: none;
  resize: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.3em; }

.editor__title-height-div {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.3em; }

.editor__title--placeholder {
  opacity: 0.3; }

.editor__block {
  position: relative; }

.editor__paragraph--placeholder {
  opacity: 0.3; }

.editor__paragraph {
  text-align: left;
  position: relative;
  position: relative;
  z-index: 1;
  width: 100%;
  border: 0;
  overflow: hidden;
  outline: none;
  box-shadow: none;
  resize: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em; }

.editor__paragraph-height-div {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em; }

.editor__document {
  border: #758aa8;
  box-shadow: 1px 1px 2px #051a38;
  color: #051a38;
  padding: 5px 15px;
  margin-bottom: 2rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7em;
  font-style: italic; }

.editor__document-highlight {
  color: #051a38;
  background-color: #94a5bc; }

.editor__video {
  display: block;
  margin: auto;
  max-width: 100%; }

.foundation {
  margin-left: 3rem;
  margin-right: 3rem; }
  .foundation::after {
    clear: both;
    content: "";
    display: table; }

.foundation__heading {
  margin-top: 0;
  margin-bottom: 15px;
  color: #051a38;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3em; }

.foundation__instructions {
  margin-top: 0;
  margin-bottom: 15px;
  color: #051a38;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em; }

.foundation__card-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.foundation__card {
  border: 1px solid #758aa8;
  box-shadow: 1px 1px 2px #051a38;
  width: 100%;
  display: -webkit-box;
  display: flex;
  margin-bottom: 2rem; }
  .foundation__card:nth-of-type(2n) {
    margin-right: 0; }
  .foundation__card:hover {
    cursor: pointer; }
  @media only screen and (min-width: 64em) {
    .foundation__card {
      width: 48.75%; } }

.foundation__image {
  display: block;
  width: 110px;
  height: 156px; }
  @media only screen and (min-width: 30em) {
    .foundation__image {
      width: 220px;
      height: 313px; } }

.foundation__info-container {
  -webkit-box-flex: 1;
  flex: 1; }

.foundation__card-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3em;
  margin: 0;
  padding: 1rem; }
  @media only screen and (min-width: 30em) {
    .foundation__card-title {
      padding: 2rem; } }

.foundation__description {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7em;
  float: left;
  padding: 0 1rem; }
  @media only screen and (min-width: 30em) {
    .foundation__description {
      padding: 2rem; } }

.constitution__heading {
  margin-top: 0;
  margin-bottom: 15px;
  color: #051a38;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3em; }

.constitution__instructions {
  margin-top: 0;
  margin-bottom: 15px;
  color: #051a38;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em; }

.constitution__row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.constitution__sections {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em;
  width: 100%; }
  @media only screen and (min-width: 48em) {
    .constitution__sections {
      width: 48%; } }

.constitution__text {
  border: 1px solid #758aa8;
  box-shadow: 1px 1px 2px #051a38;
  padding: 0 15px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7em;
  height: 313px;
  overflow-y: scroll;
  width: 100%; }
  @media only screen and (min-width: 64em) {
    .constitution__text {
      width: 48%; } }
  .constitution__text::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px; }
  .constitution__text::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
  .constitution__text::-webkit-scrollbar-track {
    background-color: #758aa8; }

.constitution__text--selected {
  color: #051a38;
  background-color: #94a5bc;
  cursor: pointer; }

.amendments__heading {
  margin-top: 0;
  margin-bottom: 15px;
  color: #051a38;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3em; }

.amendments__instructions {
  margin-top: 0;
  margin-bottom: 15px;
  color: #051a38;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em; }

.amendments__row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.amendments__sections {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em;
  width: 100%; }
  @media only screen and (min-width: 48em) {
    .amendments__sections {
      width: 48%; } }

.amendments__text {
  border: 1px solid #758aa8;
  box-shadow: 1px 1px 2px #051a38;
  padding: 0 15px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7em;
  height: 313px;
  overflow-y: scroll;
  width: 100%; }
  @media only screen and (min-width: 64em) {
    .amendments__text {
      width: 48%; } }
  .amendments__text::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px; }
  .amendments__text::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
  .amendments__text::-webkit-scrollbar-track {
    background-color: #758aa8; }

.amendments__text--selected {
  color: #051a38;
  background-color: #94a5bc;
  cursor: pointer; }

.debates__heading {
  margin-top: 0;
  margin-bottom: 15px;
  color: #051a38;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3em; }

.debates__instructions {
  margin-top: 0;
  margin-bottom: 15px;
  color: #051a38;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em; }

.debates__row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.debates__list-container {
  width: 100%; }
  @media only screen and (min-width: 48em) {
    .debates__list-container {
      width: 48%; } }

.debates__list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.debates__card {
  width: 250px;
  border: 1px solid #758aa8;
  box-shadow: 1px 1px 2px #051a38;
  margin-bottom: 2rem; }
  .debates__card:hover {
    cursor: pointer; }

.debates__card-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3em;
  margin: 1rem; }

.debates__card-date {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7em;
  margin: 1rem; }

.debates__thumb-container {
  width: 250px; }

.debates__thumb {
  max-width: 100%;
  height: auto;
  display: block; }

.debates__video-container {
  width: 100%; }
  @media only screen and (min-width: 48em) {
    .debates__video-container {
      width: 48%; } }

.debates__video-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3em; }

.debates__video-date {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7em; }

.debates__video {
  max-width: 100%; }

.header {
  width: 100%; }
  .header::after {
    clear: both;
    content: "";
    display: table; }

.header__skip-link {
  position: absolute;
  top: -40px;
  left: 0px;
  padding: 2px 5px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7em;
  color: #fff;
  -webkit-transition: top .1s ease-in, background .5s linear;
  transition: top .1s ease-in, background .5s linear; }
  .header__skip-link:focus {
    top: 0px;
    background-color: #a03546;
    -webkit-transition: top .1s ease-in, background .5s linear;
    transition: top .1s ease-in, background .5s linear; }

.header__logo {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 44px;
  line-height: 1.3em;
  font-style: normal;
  margin-left: 3rem;
  line-height: 8rem; }

.header__logo-link {
  text-decoration: none;
  color: #2c4770; }
  .header__logo-link:hover {
    color: #758aa8; }

.header__button-list {
  float: right; }

.header__button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em;
  line-height: 8rem;
  margin-right: 3rem;
  color: #2c4770; }
  .header__button:hover {
    color: #758aa8; }

.header__button--github {
  font-size: 4rem; }

.header__nav {
  border-top: 1px solid #051a38;
  border-bottom: 2px solid #051a38;
  line-height: 1rem; }
  .header__nav::after {
    clear: both;
    content: "";
    display: table; }

.nav__list {
  list-style: none; }

.nav__list-item {
  margin-right: 3rem;
  display: inline-block; }

.nav__link {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3em;
  text-transform: uppercase;
  color: #2c4770;
  text-decoration: none; }
  .nav__link:hover {
    color: #758aa8; }

.footer {
  margin: 2rem 3rem;
  border-top: 1px solid #051a38; }

.feed {
  margin: 2rem auto;
  width: 768px;
  max-width: 100%; }

.feed__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3em; }

.feed__card {
  position: relative;
  border: #758aa8;
  box-shadow: 2px 2px 4px #051a38;
  color: #051a38;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 2rem; }

.feed__card-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3em;
  margin-left: 15px;
  margin-right: 15px; }

.feed__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.feed__card-document {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #758aa8; }

.feed__card-document-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.3em;
  font-style: italic;
  margin-left: 15px;
  margin-right: 15px;
  color: #051a38; }

.feed__card-document-text {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7em;
  font-style: italic;
  margin-left: 15px;
  margin-right: 15px;
  color: #051a38; }

.feed__card-document-text--highlight {
  color: #051a38;
  background-color: #94a5bc; }

.feed__card-text-container {
  margin: 10px 15px; }
  .feed__card-text-container::after {
    clear: both;
    content: "";
    display: table; }

.feed__card-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.7em;
  color: #051a38; }

.feed__more {
  float: right;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.7em;
  color: #051a38;
  margin-right: 1rem; }

.hero {
  background-color: #2c4770;
  float: left;
  width: 100%;
  position: relative;
  height: 400px; }

.hero__wrapper::after {
  clear: both;
  content: "";
  display: table; }

.hero__inner-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 25px;
  text-align: center; }

.hero__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3em;
  color: #fff; }
  @media screen and (min-width: 480px) {
    .hero__title {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      font-size: 44px;
      line-height: 1.3em; } }

.hero__text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em;
  color: #758aa8; }

.hero__text--special {
  color: #fff; }

.hero__button {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7em;
  position: relative;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  -webkit-appearance: none;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  color: #fff;
  background: #a03546;
  width: 300px; }
  .hero__button:hover {
    cursor: pointer; }
  .hero__button:hover {
    background: #c86373; }

.about {
  margin: 2rem 4rem; }

.about__text {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7em;
  color: #051a38; }

.about__text--lead {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em; }

.about__text--aside {
  font-size: 10px; }

.about__list-item,
.about__sub-list-item {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7em; }

.about__text--special {
  color: #2c4770;
  font-weight: 700; }

.about__link {
  text-decoration: none;
  color: #051a38; }

.about__image-container {
  text-align: center; }

.about__image {
  max-width: 100%;
  height: auto; }

body {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px;
  box-sizing: border-box; }
