/client/.awcache/
/client/src/main/scripts/java2ts/
/client/src/main/resources/
/client-interface/src/main/java/jsoniter_codegen/
/foundation/src/main/resources/
# have to commit this because only because heroku can't run docker-compose
#/server/src/main/jooq-generated/
/server/src/main/rocker-generated/
/foundation-gen/generated/
/foundation-gen/.apt_generated/
/node/src/main/scripts/java2ts/
/node/src/main/scripts/common/
notes.txt
/.jsweet/

# OSX
.DS_Store

# node.js
node_modules/
npm-debug.log
yarn-error.log

# gradle
.gradle/
build/

# eclipse
.classpath
.factorypath
.project
.settings/
bin/
