/client/loaders/dist
/client/src/main/ts2java/
/client/src/main/resources/assets/
/client/src/main/resources/assets-dev/
/server/src/main/jooq-generated/
/server/src/main/rocker-generated/
/server/src/test/resources/rocker-compiler.conf


# OSX
.DS_Store

# node.js
node_modules/
npm-debug.log
yarn-error.log

# gradle
.gradle/
build/

# eclipse
.classpath
.project
.settings/
bin/
