.constitution {

}

.constitution__heading {

}

.constitution__sections {
  list-style: none;
  margin: 0;
  padding: 0;
}

.constitution__section {

}

.constitution__text {
  height: 100px;
  overflow-y: scroll;
}
