.editor {
  padding: 5px 5px 0 5px;
}

.editor__title {
  text-align: left;
  margin-top: 0;
  position: relative;
  font-family: font(take__title);
}
.editor__title--placeholder {
  opacity: 0.3;
}

.editor__paragraph--placeholder {
  opacity: 0.3;
}

.editor__paragraph {
  font-family: font(take__text);
  text-align: left;
  margin-top: 0;
  position: relative;
  line-height: 1.7em;
}

.editor__constitution {
  background: palette(editor, constitution__background);
  color: palette(editor, constitution__text);
  padding: 5px 15px;
  font-family: font(take__constitution);
}

.editor__constitution--highlighted {
  color: palette(editor, constitution__text--highlight);
  background-color: palette(editor, constitution__text-background--highlight);
}
