.about {
  padding: 0;
  background-color: palette(about, background);
  @media #{$mq-medium} {
    padding: 0 $page-margin;
  }
  @include content-column;
}
.about__text {
  @include body("sans");
  color: palette(about, text);
  @include text-margin-lr;
}
.about__text--aside {
  font-size: 10px;
}
.about__list-item,
.about__sub-list-item {
  @include body("sans");
}
.about__text--special {
  color: palette(about, text--special);
  font-weight: 700;
}
.about__link {
  color: palette(about, text--link);
}
.about__image-container {
  text-align: center;
  @include text-margin-lr;
}
.about__image {
  max-width: 100%;
  height: auto;
}
