.clipEditor {
  @include clearfix;
  max-width: 100%;
  margin: 15px auto;
}
.clipEditor__actions {
  width: 100%;
  @include clearfix;
}
.clipEditor__actions--range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.clipEditor__range {
  width: $video-container-width;
}
.clipEditor__controls {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.clipEditor__actions--zoom {
  text-align: center;
  @include clearfix;
}
.clipEditor__text {
  color: palette(video, text);
  @include body;
}
.clipEditor__text--range {
  line-height: 35px;
  width: $video-container-width;
  margin: 0 auto;
  text-align: center;
}
.clipEditor__text--min {
  width: 68px;
}
.clipEditor__text--max {
  width: 68px;
  text-align: right;
}
.clipEditor__button {
  @include button--borderless;
  @include button;
}
.video__tuning-buttons {
  float: left;
  padding-top: 6px;
}
.video__button--small {
  @include button--small;
  float: left;
  padding: 2px 5px;
  width: 21px;
  text-align: center;
  border: none;
  color: palette(button, color--base);
  background: palette(button, background--base);
  &:hover {
    background: palette(button, background--base-hover);
  }
}

.video__time {
  float: left;
  @include body--small;
  margin-left: 2px;
  margin-right: 2px;
}
