.dropdown {
  position: relative;
}
.dropdown--usernav {
  position: absolute;
  top: 0;
  right: $page-margin-mobile;
  @media #{$mq-medium} {
    right: $content-margin;
  }
  width: 100%;
  height: 100%;
}
.dropdown--clipShare {
  height: 35px;
}
.dropdown__toggle {
  @include body("sans");
  text-align: left;
  margin-left: $page-margin-mobile;
  margin-right: $page-margin-mobile;
  background-color: transparent;
  margin: 0;
  cursor: pointer;
}
.dropdown__toggle--video,
.dropdown__toggle--reaction {
  @include button--borderless;
  line-height: 35px;
}
.dropdown__toggle--usernav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.dropdown__toggle--clipShare {
  @include button;
  @include button--red;
}
.dropdown--searchbar {
  margin-left: auto;
  margin-right: auto;
}
.dropdown__dropdown {
  position: absolute;
  max-height: 300px;
  overflow: hidden;
  border: 1px solid palette(dropdown, border);
  background-color: palette(dropdown, background);
  border-radius: 3px;
  float: none;
  text-align: left;
}
.dropdown__dropdown--hidden {
  max-height: 0;
  border: none;
  padding: 0;
}
.dropdown__dropdown--tr {
  top: -35px * 2 - 2;
  left: 0;
}
.dropdown__dropdown--tl {
  top: -35px * 2 - 2;
  right: 0;
}
.dropdown__dropdown--br {
  top: 35px;
  left: 0;
}
.dropdown__dropdown--bl {
  top: 35px;
  right: 0;
}
.dropdown__dropdown--clipShare {
  top: -180px;
  right: -15px;
  width: 380px;
  @media #{$mq-small} {
    right: -20px;
    width: 450px;
  }
  @media #{$mq-medium} {
    right: -50px;
    width: 554px;
  }
}
