.feed {
  margin: auto;
  width: $column-width;
  max-width: 100%;
}
.feed__inner-container {
  @include text-margin-lr;
}
.feed__title {
  @include heading2;
}
.feed__card {
  position: relative;
  background: palette(feed, background);
  border: 1px solid palette(feed, card__border);
  color: palette(feed, text);
  margin-top: $content-margin;
  @include clearfix;
}
.feed__card-title {
  @include heading3;
  margin-top: $page-margin-mobile;
  margin-right: $page-margin-mobile;
  margin-left: $page-margin-mobile;
  margin-bottom: $page-margin-mobile / 2;
  @media #{$mq-medium} {
    margin-top: $content-margin;
    margin-right: $content-margin;
    margin-left: $content-margin;
    margin-bottom: $content-margin / 2;
  }
}
.feed__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.feed__card-document {
  padding: $page-margin-mobile;
  @media #{$mq-medium} {
    padding: $content-margin;
  }
  background-color: palette(feed, background--highlight);
}
.feed__card-document-title {
  @include heading5;
  margin: 0;
  margin-bottom: $page-margin-mobile / 2;
  @media #{$mq-medium} {
    margin-bottom: $content-margin / 2;
  }
  color: palette(feed, text--document);
}
.feed__card-document-text {
  @include body;
  margin: 0;
  color: palette(feed, text--document);
  > p {
    margin: 0;
  }
}
.feed__card-text-container {
  @include text-margin-lr;
  margin-bottom: $page-margin-mobile * 2.25;
  @media #{$mq-medium} {
    margin-bottom: $content-margin * 2.25;
  }
}
.feed__card-text {
  margin-top: 0;
  margin-bottom: 0;
  @include body("sans");
  color: palette(feed, text--faded);
}
.feed__more {
  position: absolute;
  bottom: $page-margin-mobile / 2;
  right: $page-margin-mobile;
  @media #{$mq-medium} {
    bottom: $content-margin / 2;
    right: $content-margin;
  }
  @include body--small;
  color: palette(feed, text);
}
.feed__card-thumb-container {
  width: 100%;
  @media #{$mq-medium} {
    float: left;
    width: 60%;
  }
  margin-right: $page-margin-mobile;
  @media #{$mq-medium} {
    margin-right: $content-margin;
  }
  @include clearfix;
}
.feed__card-thumb-container--video {
  max-height: 250px;
  overflow: hidden;
  @media #{$mq-medium} {
    max-height: initial;
  }
}
.feed__card-thumb {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
