.form__label {
  display: block;
  @include body--small("sans");
  color: palette(form, text);
}
.form__input {
  box-sizing: border-box;
  display: block;
  @include body--small("sans");
  color: palette(form, text);
  width: 200px;
}
.form__submit {
  @include button;
  margin-top: 1rem;
}
.form__submit--red {
  @include button--red;
}
.form__submit--blue {
  @include button--blue;
}
.form__error {
  @include body--small("sans");
  font-weight: 700;
  color: palette(form, text--action);
}
.form__input--terms {
  width: auto;
  margin-left: 0;
  margin-top: $content-margin;
  margin-right: 5px;
  float: left;
}
.form__label--terms {
  margin-top: $content-margin - 5px;
}
