$nav-height: 35px;
.header {
  width: 100%;
  @include clearfix;
  position: relative;
  z-index: 10;
  background-color: white;
  margin-bottom: 0; // This is necessary for meta.mytake.org
}
.header--search {
  @media screen and (min-width: 768px) {
    position: sticky;
    top: 0;
  }
}
.header__top {
  height: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.7);
}
.header__skip-link {
  position: absolute;
  top: -40px;
  left: 0px;
  padding: 2px 5px;
  @include body;
  color: palette(header, skip-text);
  transition: top 0.1s ease-in, background 0.5s linear;
  &:focus {
    top: 0px;
    background-color: palette(header, skip-bg);
    transition: top 0.1s ease-in, background 0.5s linear;
  }
}
.header__logo-link {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  margin-right: 8px;
}
.header__logo-image-container {
  height: 32px;
  padding: 4px 8px;
}
.header__logo-image {
  max-height: 100%;
  width: auto;
}
.header__logo-title {
  @include typography($sans, 700, 24px, 40px);
  font-style: normal;
}
.header__logo--mytake {
  color: palette(header, text--blue);
}
.header__logo--org {
  color: palette(header, text--red);
}
.header__moreinfo-link {
  @include typography($sans, 400, 13px, 40px);
  text-transform: uppercase;
  color: palette(nav, text);
  margin-left: 8px;
  &:hover {
    color: palette(nav, text--hover);
  }
}
.header__tabs {
  list-style-type: none;
  font-size: 0;
  margin-left: 8px;
  padding: 0;
  display: none;
  &.header__tabs--visible {
    display: flex;
  }
}
.header__tab {
  @include typography($sans, 400, 13px, 40px);
  margin-right: 2px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0 4px;
}
.header__searchbar {
  flex: 1;
  height: 40px;
  line-height: 40px;
  margin-right: 8px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.header__usernav {
  @media screen and (min-width: 1034px) {
    width: 175px;
  }
}
