.home__section {
  width: 100%;
}
.home__section-content {
  max-width: 100%;
  margin: auto;
  @media screen and (max-width: 768px - 1) {
    padding-left: 8px;
    padding-right: 8px;
  }
  @media screen and (min-width: 768px) {
    width: $column-width - 32px;
  }
}
.home__section--dark {
  background-color: palette(home, background--dark);
  overflow: auto;
}
.home__h1 {
  font-family: $sans;
  font-weight: 700;
  line-height: 1.3em;
  margin: 0;
  color: palette(home, title);
  font-size: 24px;
  @media screen and (min-width: 480px) {
    font-size: 26px;
  }
  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
}
.home__h1--search {
  margin: 24px 0 0 0;
}
.home__h1 a {
  color: black;
}
.home__li a {
  color: black;
}
.home__body {
  @include typography($serif, 400, 15px, 1.2em);
}
.home__body--center {
  text-align: center;
}
.searchbar__form--home {
  margin-top: 16px;
  margin-bottom: 16px;
}
.searchbar__input--home {
  line-height: 3.5rem;
  border-color: palette(home, searchbar-border);
}
.searchbar__button--home {
  height: 3.7rem;
  background-color: palette(home, searchbar-button);
  border-color: palette(home, searchbar-border);
  &:hover {
    background-color: palette(home, searchbar-button--hover);
  }
}
.searchbar__cancel--home {
  top: 6px;
}
.home__ul {
  margin-bottom: 16px;
}
.home__li {
  @include typography($serif, 400, 15px, 1.4em);
}
.home__h2 {
  @include typography($sans, 700, 34px, 1em);
  color: palette(home, title);
}
.home__h3 {
  @include typography($sans, 700, 20px, 1.3em);
  color: palette(home, title);
}
.home__ol {
  list-style-position: inside;
  padding: 0;
}
.home__image-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  img {
    margin: 16px 0;
    width: 350px;
    height: auto;
  }
}
.home__link-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.home__link {
  @include typography($sans, 400, 13px, 1.3em);
  color: palette(nav, text);
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 8px;
  &:hover {
    color: palette(nav, text--hover);
  }
}
.home__cursor {
  position: relative;
  top: -3px;
}
.home__cursor--hide {
  opacity: 0;
}
.animated__span {
  display: block;
}
.animated__span--fixed {
  color: palette(home, title--light);
  font-weight: 400;
}
.home__ngram-link {
  text-decoration: none;
}
