$nav-items: 4;
.nav {
  max-height: $nav-height * $nav-items + $nav-items + 1;
  overflow: hidden;
  transition: max-height 0.1s linear 0s;
  &.collapse {
    max-height: 0;
  }
}
.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__list--top {
  border-top: 1px solid palette(header, border);
  border-bottom: 1px solid palette(header, border);
  @media #{$mq-medium} {
    border-left: 1px solid palette(header, border);
    border-right: 1px solid palette(header, border);
  }
}
.nav__list--bottom1,
.nav__list--bottom2 {
  max-width: 100%;
  @include text-margin-lr;
  text-align: center;
  @media only screen and (min-width: 481px) {
    text-align: left;
  }
}
.nav__list--bottom3 {
  max-width: 100%;
  @include text-margin-lr;
  text-align: center;
  @media only screen and (min-width: 481px) {
    text-align: right;
  }
}
.nav__list-item {
  height: $nav-height;
  line-height: $nav-height;
  background-color: palette(header, background);
}
.nav__list-item--top {
  border-bottom: 1px solid palette(header, border);
}
.nav__link {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.nav__link--top {
  padding-left: $page-margin-mobile;
  @media #{$mq-medium} {
    margin-left: 2rem;
    padding-left: 0;
  }
}
.nav__link-text {
  @include heading6;
  color: palette(nav, text);
  display: inline;
  &:hover {
    color: palette(nav, text--hover);
  }
}
