$nav-items: 4;
.nav {
  max-height: $nav-height * $nav-items + $nav-items + 1;
  overflow: hidden;
  transition: max-height 0.1s linear 0s;
  &.collapse {
    max-height: 0;
  }
}
.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  @include clearfix;
  @media #{$mq-medium} {
    @include text-margin-lr;
    width: initial;
  }
}
.nav__list--buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  @media #{$mq-medium} {
    display: initial;
  }
}
.nav__list-item {
  float: left;
  background-color: palette(header, background);
}
.nav__list-item--button {
  width: 50%;
  @media #{$mq-medium} {
    width: initial;
    margin-right: 2rem;
  }
}
.nav__button {
  display: block;
  border: 1px solid palette(nav, text);
  border-radius: 5px;
  width: 95px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 20px;
  line-height: 22px;
}
.nav__list-item--link {
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  @media #{$mq-medium} {
    width: initial;
    margin-left: 2rem;
  }
}
.nav__list-item--top {
  border-bottom: 1px solid palette(header, border);
}
.nav__link {
  text-decoration: none;
}
.nav__link--top {
  padding-left: $page-margin-mobile;
  @media #{$mq-medium} {
    margin-left: 2rem;
    padding-left: 0;
  }
}
.nav__link-text {
  @include typography($sans, 400, 13px, 1.3em);
  color: palette(nav, text);
  display: inline;
  &:hover {
    color: palette(nav, text--hover);
  }
}
.nav__link-text--top > .fa {
  margin-right: $page-margin-mobile;
}
.nav__link-icon--wheat {
  margin-right: $page-margin-mobile;
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin-top: -2px;
}
.nav__icon-spacer {
  display: inline-block;
  width: 17px;
}
