.ngram__outer-container {
  @include content-column;
}
.ngram__outer-container--home {
  margin-bottom: 16px;
}
.ngram__inner-container {
  max-width: 100%;
  width: 700px;
  padding-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  color: $base-darkest;
}
.ngram__legend {
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
}
.ngram__term-list {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 4px;
  svg {
    margin-top: -10px;
  }
}
.ngram__text {
  font-size: 16px;
}
.ngram__text--term {
  font-weight: 800;
  margin-right: 8px;
}

.ngram__tooltip {
  position: absolute;
  text-align: center;
  padding: 0.5rem;
  background: #ffffff;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1.3rem;
  z-index: 1;
}

$term-darken: 0%;
.ngram-term-0 {
  color: darken(rgb(114, 175, 152), $term-darken);
}
.ngram-term-1 {
  color: darken(rgb(217, 133, 98), $term-darken);
}
.ngram-term-3 {
  color: darken(rgb(132, 146, 183), $term-darken);
}
.ngram-term-4 {
  color: darken(rgb(199, 131, 176), $term-darken);
}
.ngram-term-5 {
  color: darken(rgb(161, 196, 95), $term-darken);
}
