.ngram__outer-container {
  @include content-column;
}
.ngram__outer-container--home {
  margin-bottom: 16px;
}
.ngram__inner-container {
  max-width: 100%;
  width: 700px;
  padding-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  color: $base-darkest;
}
.ngram__legend {
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
}
.ngram__term-list {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 4px;
  svg {
    margin-top: -10px;
  }
}
.ngram__text {
  font-size: 16px;
}
.ngram__text--term {
  font-weight: 800;
  margin-right: 8px;
}

$term-darken: 0%;
.ngram-term-0 {
  color: darken(rgb(110, 180, 149), $term-darken);
}
.ngram-term-1 {
  color: darken(rgb(217, 137, 91), $term-darken);
}
.ngram-term-3 {
  color: darken(rgb(138, 138, 187), $term-darken);
}
.ngram-term-4 {
  color: darken(rgb(202, 117, 181), $term-darken);
}
.ngram-term-5 {
  color: darken(rgb(151, 210, 66), $term-darken);
}
