$usercard-width: 200px;
.profile {
  margin-top: $content-margin;
  margin-left: auto;
  margin-right: auto;
  width: $column-width--lg;
  max-width: 100%;
  @include clearfix;
}
.profile__usercard {
  display: flex;
  width: $column-width;
  max-width: 100%;
  margin: auto;
  min-height: 175px;
  @media #{$mq-large} {
    display: block;
    width: $usercard-width;
    float: left;
  }
}
.profile__image-container {
  float: left;
  width: 100px;
  margin-left: $page-margin-mobile;
  margin-top: $content-margin;
  @media #{$mq-medium} {
    width: 200px;
  }
  @media #{$mq-large} {
    width: 100%;
  }
}
.profile__image {
  max-width: 100%;
  height: auto;
}
.profile__info {
  flex: 1;
  margin-left: $content-margin;
  margin-right: $page-margin-mobile;
  @media #{$mq-large} {
    float: left;
  }
}
.profile__text--name {
  @include heading2;
}
.profile__text--username {
  @include heading2--no-lh;
  line-height: 1rem;
}
.profile__text--bio {
  @include body;
}
.profile__text--small {
  @include body--small;
  line-height: 1.2rem;
}
.profile__tabs {
  width: $column-width--lg - $usercard-width;
  max-width: 100%;
  float: left;
}
.tab-nav {
  width: $column-width;
  margin-top: $content-margin;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.tab-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tab-nav__list-item {
  display: inline-block;
  height: $nav-height - 5px;
  line-height: $nav-height - 5px;
  margin-left: $page-margin-mobile;
  margin-right: $page-margin-mobile;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  background-color: palette(profile, tab-background);
  @media #{$mq-small} {
    margin-right: $content-margin;
  }
  @media #{$mq-medium} {
    margin-left: $content-margin;
  }
}
.tab-nav__link {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  @include heading6;
  color: palette(profile, tab-text);
  &:hover {
    color: palette(profile, tab-text--hover);
  }
}
.tab-nav__link--active {
  border-bottom: 3px solid palette(profile, tab-border--active);
}
.tab {
  width: $column-width;
  margin: auto;
  max-width: 100%;
}
.tab-title {
  @include heading2;
  margin-left: $content-margin;
}
