.reaction {
  @include content-column;
  position: relative;
  z-index: 20;
  @include clearfix;
}
.reaction__counts {
  margin-left: $content-margin;
  float: left;
}
.reaction__count {
  @include body("sans");
  float: left;
  margin-top: 0;
  margin-right: $content-margin;
  color: palette(reaction, text);
}
.reaction__actions {
  float: right;
  position: relative;
}
.reaction__action {
  @include button--borderless;
}
.reaction__action--star {
  margin-right: $content-margin;
  font-size: 20px;
  margin-top: 2px;
  float: left;
}
.reaction__action--report {
  @include body("sans");
}
.reaction__action--spam,
.reaction__action--harassment,
.reaction__action--rules {
  @include heading6;
  line-height: 35px;
  background-color: transparent;
  width: 100%;
  text-align: left;
  margin-left: $page-margin-mobile;
  margin-right: $page-margin-mobile;
}
$report-link-count: 3;
.reaction__submenu {
  position: absolute;
  width: 128px;
  top: -35px * $report-link-count - $report-link-count - 1;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 35px * $report-link-count + $report-link-count + 1;
  overflow: hidden;
  border: 1px solid palette(reaction, border);
  border-radius: 3px;
  float: none;
  text-align: left;
}
.reaction__submenu--collapse {
  max-height: 0;
  border: none;
}
.reaction__submenu--wide {
  width: 255px;
}
.reaction__li {
  height: 35px;
  background-color: palette(reaction, background);
  &:not(:first-of-type) {
    border-top: 1px solid palette(header, border);
  }
}
.reaction__action-container {
  position: relative;
  line-height: 35px;
  float: left;
  margin-right: $content-margin;
}
