.searchbar__form {
  display: flex;
  align-items: center;
}
.searchbar__form--search {
  @media screen and (min-width: 768px) {
    max-width: 768px;
    // Will be centered on page as long as
    // .header__usernav and .header__logo-link
    // have the same width
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
  }
}
.searchbar__form--mobile {
  padding-right: 4px;
  padding-left: 4px;
  margin-top: 8px;
  flex-direction: column;
  @media screen and (min-width: 768px + 1) {
    display: none;
  }
}
.searchbar__input {
  @include typography($sans, 400, 16px, 3.4rem);
  flex: 1;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-color: palette(home, searchbar-border);
  border-width: 1px 0 1px 1px;
  border-radius: 5px 0 0 5px;
  padding-left: $content-margin/2;
  padding-right: 25px;
  &::-ms-clear {
    display: none;
  }
}
.searchbar__input--mobile {
  border-width: 1px;
  border-radius: 5px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
input[type="search"] {
  -webkit-appearance: none;
}
.searchbar__input--search {
  line-height: 3rem;
}
.searchbar__input-container {
  position: relative;
  display: flex;
  flex: 1;
}
.searchbar__input-container--mobile {
  width: 100%;
  margin-bottom: 8px;
}
.searchbar__cancel {
  color: palette(searchbar, cancel-icon);
  position: absolute;
  right: 8px;
  cursor: pointer;
}
.searchbar__cancel--search {
  top: 4px;
}
.searchbar__cancel--mobile {
  top: 6px;
}
.searchbar__cancel--hidden {
  display: none;
}
.searchbar__button {
  background-color: palette(home, searchbar-button);
  border-style: solid;
  border-color: palette(home, searchbar-border);
  border-width: 1px;
  border-radius: 0 5px 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 5rem;
  &:hover {
    background-color: palette(home, searchbar-button--hover);
  }
  svg {
    color: palette(home, searchbar-button-text);
  }
}
.searchbar__button--search {
  height: 3.2rem;
}
.searchbar__button--mobile {
  width: 100%;
  border-radius: 5px;
  height: 36px;
}
