.section {
  @include content-column;
  margin-top: $content-margin;
  margin-bottom: $content-margin;
  background-color: palette(section, background);
  @include clearfix;
}
.section__heading {
  @include heading2;
  margin-top: 0;
  margin-bottom: $content-margin;
  color: palette(section, text);
}
.section__inner {
  float: left;
  width: 368px;
  height: 230px;
}
.section__inner--login {
  border-right: 1px solid palette(section, border);
  margin-right: 30px;
}
.section__text {
  @include body;
}
.section__text--lead {
  @include body--lead;
}
.section__text--alert {
  color: palette(section, text--alert);
}
