.section {
  @include content-column;
  margin-top: $content-margin;
  margin-bottom: $content-margin;
  background-color: palette(section, background);
  @include clearfix;
}
.section__heading {
  @include heading2;
  margin-top: 0;
  margin-bottom: $content-margin;
  color: palette(section, text);
}
@mixin loginSection {
  width: 200px;
  margin: auto;
  @media #{$mq-medium} {
    float: left;
    width: 338px;
    min-height: 238px;
  }
}
.section__inner--login {
  @include loginSection;
  margin-bottom: 2rem;
  @media #{$mq-medium} {
    border-right: 1px solid palette(section, border);
    margin-right: 30px;
  }
}
.section__inner--create {
  @include loginSection();
}
.section__inner {
  padding-left: $page-margin-mobile;
  padding-right: $page-margin-mobile;
  @media #{$mq-medium} {
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.section__text {
  @include body;
}
.section__text--lead {
  @include body--lead;
}
.section__text--alert {
  color: palette(section, text--alert);
}
