.share {
  float: left;
  line-height: 35px;
}
.share__inner-container {
  position: relative;
}
.share__action {
  line-height: 35px;
  text-align: left;
  margin-left: $page-margin-mobile;
  margin-right: $page-margin-mobile;
  background-color: transparent;
}
.share__action--toggle {
  @include button--borderless;
  @include body("sans");
  margin: 0;
  line-height: 35px;
}
.share__action--clickable {
  @include button--borderless;
  @include heading6;
  width: 100%;
}
.share__action--success {
  @include heading6;
  color: palette(share, text--green);
}

.share__html {
  max-height: 300px - 35px;
  overflow: scroll;
}
.share__text {
  @include body("sans");
  margin: 0 $page-margin-mobile;
  line-height: 35px;
}
.emailtake {
  width: 195px;
}
