.shareclip {
  max-width: 100%;
}
.shareclip__title {
  @include heading3;
  @include text-margin-lr;
  color: palette(share, text);
  margin-top: $page-margin-mobile;
  margin-bottom: $page-margin-mobile;
}
.shareclip__subtitle {
  @include heading4;
  @include text-margin-lr;
  color: palette(share, text);
}
.shareclip__url {
  @include body("sans");
  @include text-margin-lr;
  margin-top: 0;
  color: palette(share, text);
  overflow: scroll;
  margin-bottom: 10px;
  @media #{$mq-medium} {
    margin-bottom: 0;
  }
}
.shareclip__label {
  @include body("sans");
  @include text-margin-lr;
  color: palette(share, text);
  display: block;
}
.shareclip__input {
  @include text-margin;
  border: 1px solid palette(share, border);
  display: block;
  @include input;
  margin-bottom: 10px;
  @media #{$mq-medium} {
    margin-bottom: 0;
  }
}
.shareclip__button {
  @include button;
  @include button--blue;
  margin-left: $page-margin-mobile;
  margin-bottom: $page-margin-mobile * $vertical-margin-multiplier;
  @media #{$mq-medium} {
    margin-left: $content-margin;
  }
}
.shareclip__success {
  @include body("sans");
  @include text-margin-lr;
  color: palette(share, text--green);
}
.shareclip__info {
  position: absolute;
  top: 8px;
  right: 0;
}
