.share {
  float: left;
  line-height: 35px;
}
.share__inner-container {
  position: relative;
}
.share__action {
  line-height: 35px;
  text-align: left;
  margin-left: $page-margin-mobile;
  margin-right: $page-margin-mobile;
  background-color: transparent;
}
.share__action--toggle {
  @include button--borderless;
  @include body("sans");
  margin-right: $content-margin;
}
.share__action--clickable {
  @include button--borderless;
  @include heading6;
  width: 100%;
}
.share__action--success {
  @include heading6;
  color: palette(share, text--green);
}
.share__dropDown {
  position: absolute;
  width: 195px;
  max-height: 300px;
  overflow: hidden;
  border: 1px solid palette(share, border);
  background-color: palette(share, background);
  border-radius: 3px;
  float: none;
  text-align: left;
}
.share__dropDown--hidden {
  max-height: 0;
  border: none;
  padding: 0;
}
.share__dropDown--tr {
  top: -35px * 2 - 2;
  left: 0;
}
.share__dropDown--tl {
  top: -35px * 2 - 2;
  right: 0;
}
.share__dropDown--br {
  top: 35px;
  left: 0;
}
.share__dropDown--bl {
  top: 35px;
  right: 0;
}
.share__html {
  max-height: 300px - 35px;
  overflow: scroll;
}
.share__text {
  @include body("sans");
  margin: 0 $page-margin-mobile;
  line-height: 35px;
}
