.social {
  position: relative;
  width: 600px;
  height: 314px;
  overflow: hidden;
  &.home {
    border-radius: 5px;
    width: 300px;
    height: 150px;
    margin-top: 8px;
    margin-right: 8px;
  }
}

$edgeColor: palette(social, background);
$centerColor: palette(social, background--highlight);
.social__background {
  background: radial-gradient(ellipse at 550px 400px, $centerColor, $edgeColor);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  &.home {
    background: radial-gradient(
      ellipse at 250px 215px,
      $centerColor,
      $edgeColor
    );
  }
  &.social__background__ngram {
    background: radial-gradient(
      ellipse at 550px 400px,
      #fff,
      rgb(222, 222, 241)
    );
  }
}
.social__content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $white;
  padding: 48px;
  &.home {
    padding: 24px;
  }
}
.social__ngram {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 15px;
}
// "IBM Plex Serif", serif;: "IBM Plex Serif", serif;
@mixin speaker-font($fontSize: 24px) {
  font-family: $ibm-plex-serif;
  font-weight: 600;
  font-size: $fontSize;
}
@mixin text-font($fontSize: 16px) {
  font-family: $ibm-plex-serif;
  font-weight: 400;
  font-size: $fontSize;
}
.social__speaker {
  @include speaker-font();
  text-align: right;
  &.home {
    @include speaker-font(16px);
  }
  margin-bottom: 0;
}
.social__date {
  @include speaker-font();
  text-align: right;
  font-style: italic;
  font-weight: 400;
  margin-top: 0;
}
.social__quote-container {
  width: 28px;
}
.social__quote {
  @include speaker-font();
  &.home {
    @include speaker-font(16px);
  }
}
.social__row--quote {
  display: flex;
  justify-content: space-around;
}
.social__text--a,
.social__quote--a {
  @include text-font(36px);
}
.social__text--b,
.social__quote--b {
  @include text-font(30px);
}
.social__text--c,
.social__quote--c {
  @include text-font(28px);
}
.social__text--d,
.social__quote--d {
  @include text-font(26px);
}
.social__text--e {
  @include text-font(24px);
}
.social__text--f {
  @include text-font(20px);
  line-height: 1.2em;
}
.social__text--z {
  @include text-font(16px);
}
.social__text {
  flex: 1;
  margin: 0;
  &.home {
    @include text-font(12px);
  }
}
.social__image-container {
  position: absolute;
  bottom: -6px;
  right: -22px;
  z-index: 5;
  opacity: 0.7;
  &.home {
    right: -12px;
  }
  &.social__image-container__ngram {
    opacity: 0.2;
    left: 0px;
    bottom: -5px;
  }
}
.social__image.home {
  width: 100px;
  height: 100px;
}
.social__row--query-terms {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
  right: 45px;
  z-index: 100;

  span {
    font-size: 24px;
    margin-left: 10px;
    font-weight: 600;
    font-family: $sans;
  }
}
