.timeline__preview {
  position: relative;
  z-index: 1;
}

.timeline {
  position: relative;
  z-index: 2;
  background-color: white;
}

.timeline__inner-container {
  @include content-column;
}

.timeline__instructions {
  color: palette(document, text);
  @include body--lead;
  @include text-margin;
}
.timeline__instructions--red {
  color: palette(document, text--red);
}

.timeline__actions {
  @include text-margin;
}

.timeline__radio {
  margin-right: 1rem;
}
.timeline__radio-label {
  margin-right: $page-margin-mobile;
  @media #{$mq-medium} {
    margin-right: $content-margin;
  }
  @include body("sans");
}
