.dropdown--usernav {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .dropdown__dropdown {
    top: 40px;
  }
}
.dropdown__toggle--usernav {
  @include typography($sans, 300, 18px, 40px);
  color: palette(nav, text);
  display: flex;
  align-items: center;
  svg {
    stroke-width: 1;
    margin-top: 1px;
  }
  a {
    color: palette(nav, text);
    text-decoration: none;
  }
}
.usernav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
}
.usernav__list-item {
  height: 35px;
  background-color: palette(header, background);
  background-color: palette(header, background);
  &:not(:first-of-type) {
    border-top: 1px solid palette(header, border);
  }
}
.usernav__link {
  @include heading6;
  margin-left: 1rem;
  text-decoration: none;
  line-height: 35px;
  display: block;
  width: 100%;
  height: 100%;
  color: palette(nav, text);
  &:hover {
    color: palette(nav, text--hover);
  }
}
