$video-container-width: 540px;
$video-header-height: 60px;
.video__outer-container {
  @include content-column;
}
.video__inner-container {
  padding: 15px $page-margin-mobile;
  @media #{$mq-medium} {
    padding: 15px $page-margin;
  }
}
.video__inner-container--push {
  margin-top: 118px;
}
.video__header {
  height: $video-header-height;
}
.video__button--top {
  @include button;
  @include button--red;
  margin-top: ($video-header-height - 35px)/2;
}
.video__button--reset {
  @include button--borderless;
  @include body("sans");
  margin-right: $content-margin;
  line-height: 35px;
  text-align: left;
  background-color: transparent;
}
.video__container {
  width: $video-container-width;
  max-width: 100%;
  margin: auto;
  position: relative;
  z-index: 50;
}
.video__float--right {
  float: right;
}
.video__title {
  @include heading3;
}
.video__date {
  @include body;
  float: right;
  margin-top: ($video-header-height - 22px)/2;
}
.video__video {
  max-width: 100%;
}
