.videoPlaceholder {
  background-color: black;
  width: 540px;
  height: 315px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $page-margin-mobile * $vertical-margin-multiplier;
  @media #{$mq-medium} {
    margin-bottom: $content-margin * $vertical-margin-multiplier;
  }
  max-width: 100%;
}
.results {
  @include content-column;
}
.results__inner-container {
  padding-left: $page-margin-mobile;
  padding-right: $page-margin-mobile;
  @media #{$mq-medium} {
    padding-left: $page-margin;
    padding-right: $page-margin;
  }
}
.results__heading {
  margin-top: $page-margin-mobile * $vertical-margin-multiplier;
  @media #{$mq-medium} {
    margin-top: $content-margin * $vertical-margin-multiplier;
  }
  color: palette(foundation, text);
  @include heading1;
  text-align: center;
}
.results__subheading {
  @include heading3;
}
.results__text {
  @include body;
}
.searchradio__radio {
  margin-right: 1rem;
}
.searchradio__radio-label {
  margin-right: $page-margin-mobile;
  @media #{$mq-medium} {
    margin-right: $content-margin;
  }
  @include body("sans");
}
.turn {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: $content-margin;
}
.turn__info {
  width: 150px;
}
.turn__speaker {
  @include body--lead;
  margin: 0;
}
.turn__time {
  @include body("sans");
  margin-top: 0;
  margin-bottom: 7px;
}
.turn__button--play {
  @include body("sans");
  @include button--blue;
  border-radius: 5px;
  margin-right: $content-margin;
  cursor: pointer;
}
.turn__button--open {
  @include body("sans");
  @include button--borderless;
}
.turn__results {
  @include body;
  flex: 1;
  margin: 0;
}
