.videoPlaceholder {
  background-color: white;
  width: 560px;
  height: 318px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $page-margin-mobile * $vertical-margin-multiplier;
  @media #{$mq-medium} {
    margin-bottom: $content-margin * $vertical-margin-multiplier;
  }
  max-width: 100%;
}
.results {
  @include content-column;
}
.results__row {
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
}
@mixin inner-container-padding {
  padding-left: 4px;
  padding-right: 4px;
  @media #{$mq-medium} {
    padding-left: $content-margin;
    padding-right: $content-margin;
  }
}
.results__push {
  padding-top: 318px + $page-margin-mobile * $vertical-margin-multiplier;
  @media #{$mq-medium} {
    padding-top: 318px + $content-margin * $vertical-margin-multiplier;
  }
}
.results__heading {
  @include heading2;
  color: palette(foundation, text);
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  margin-left: 4px;
  @media #{$mq-medium} {
    text-align: center;
    margin-left: 0;
  }
}
.results__subheading {
  @include heading3;
  @include inner-container-padding;
}
.results__text {
  @include body;
}
.results__preview {
  opacity: 1;
  transition: opacity 0.5s;
}
.results__preview--fade {
  opacity: 0;
}
.searchradio__radio {
  margin-right: 1rem;
}
.searchradio__group {
  width: 100%;
  @media #{$mq-medium} {
    display: inline-block;
    width: auto;
  }
}
.searchradio__radio-label {
  @media #{$mq-medium} {
    margin-right: $content-margin;
  }
  @include body("sans");
}
@mixin turnBackground {
  background: linear-gradient(lighten($base-lightest, 40%), white);
}
.turn {
  @include turnBackground();
  position: relative;
  padding-bottom: $content-margin;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  @include inner-container-padding;
}
.turn__info {
  width: 111px;
}
.turn__info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4px;
  height: 34px;
}
.turn__info-row--short {
  height: 20px;
  margin-top: -9px;
}
.turn__speaker {
  @include typography($sans, 400, 20px, 1.7em);
  margin: 0;
}
.turn__time {
  @include typography($sans, 400, 16px, 1.7em);
}
.turn__button {
  background: none;
  display: flex;
  align-items: center;
}
.turn__button--play {
  border: 2px solid palette(share, icon);
  color: palette(share, icon);
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 5px;
  justify-content: center;
  width: 60px;
  cursor: pointer;
  &:hover {
    color: palette(share, icon--hover);
    border-color: palette(share, icon--hover);
  }
  svg {
    fill: $white;
  }
}
.dropdown__toggle--share {
  display: flex;
  align-items: center;
  @include button--borderless;
  background: transparent;
}
.turn__button--bookmark {
  @include button--borderless;
  background: transparent;
  height: 34px;
}
.turn__button--bookmark-solid {
  svg {
    fill: palette(share, icon);
  }
  &:hover {
    svg {
      fill: palette(share, icon--hover);
    }
  }
}
.turn__results {
  @include body;
  flex: 1;
  margin: 0;
}
.results-header__fixed {
  position: fixed;
  top: 0;
  z-index: 2;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.7);
  .video__video-container,
  .ngram__inner-container {
    margin-bottom: 0;
    vertical-align: text-bottom;
  }
}
