{% extends "react.html" %}

{% block content %}
  <div id="app"></div>
  <script type="text/javascript">
    var app = document.getElementById('app')
    app.setAttribute('data-init', JSON.stringify({
			"takeDocument": {
				"title": "Don’t worry, we’ll protect the Constitution for you!",
				"blocks": [
					{
						"kind": "paragraph",
						"text": "The system for appointing judges to the Supreme Court is quite complex. Only a lawyer with years of experience could understand it. But trust me – this President has no right to make an appointment! We’ll let the people decide in the next election, as demanded by our Constitution!!"
					},
					{
						"kind": "document",
						"document": "CONSTITUTION",
						"range": [
							19343,
							19970
						]
					},
					{
						"kind": "paragraph",
						"text": "Don’t bother reading the Constitution, it’s only for smart people like me. Trust me – the President is way out of line to think the Senate has any obligation to give his candidate a hearing!"
					}
				]
			},
			"activeBlockIndex": 2
		}))

  </script>
{% endblock %}
