// ------------------------------------
//     GLOBAL IMPORTS
// ------------------------------------

// Global mixins, functions
// @import "tools/bourbon/_bourbon.scss";
// @import "tools/neat/_neat.scss";
@import "tools/_variables.scss";
@import "tools/_mixins.scss";

// Global settings, mostly variables
@import "settings/_fonts.scss";
@import "settings/_mediaQueries.scss";
@import "settings/_colors.scss";

// Components styles
@import "components/all";

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  &.noscroll {
    overflow: hidden;
  }
  &.fade--mt > .fade-overlay {
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9; // Must be less than header z-index, but greater z-index than all other root top level HTML elements under body
    background-color: #000;
  }
}
#app {
  background-color: #fff;
  position: relative;
  z-index: 1;
  float: left;
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
html {
  font-size: 10px; // For easy rem units
  box-sizing: border-box;
}
