@mixin button {
  @include body;
  position: relative;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  -webkit-appearance: none; // prevent weird iOS look with <button> elements
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@function palette($palette, $tone) {
  @if not map-has-key($palettes, $palette) {
    @warn "No palette found for `#{$palette}` in $palettes map. Property omitted.";
  }

  @return map-get(map-get($palettes, $palette), $tone);
}

@mixin foundationanimation {
  background: linear-gradient(270deg, #ff0000, #0000ff, #ff0000, #0000ff);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 90s ease infinite;
  -moz-animation: AnimationName 90s ease infinite;
  -o-animation: AnimationName 90s ease infinite;
  animation: AnimationName 90s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-o-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
