@mixin button {
  @include body;
  position: relative;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  -webkit-appearance: none; // prevent weird iOS look with <button> elements
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@function palette($palette, $tone) {
  @if not map-has-key($palettes, $palette) {
    @warn "No palette found for `#{$palette}` in $palettes map. Property omitted.";
  }

  @return map-get(map-get($palettes, $palette), $tone);
}
