@import java.sql.Timestamp
@import org.jooq.Result
@import static db.Tables.TAKEDRAFT
@import static db.Tables.TAKEREVISION

@args(Result<?> drafts)

@views.naked.template("MyTake.org", "Your drafts", "react") -> {
<div class="takelist">
	<div class="takelist__header">
		<p class="takelist__text takelist__text--top">You have @drafts.size() @(singlePlural("draft", "drafts", drafts)).</p>
		<a class="takelist__button takelist__button--new" href="@java2ts.Routes.DRAFTS_NEW" >New Draft</a>
	</div>

@for (draft : drafts) {
	@with(	int draftId = draft.get(TAKEDRAFT.ID),
			Timestamp lastEdited = draft.get(TAKEREVISION.CREATED_AT),
			String title = draft.get(TAKEREVISION.TITLE)
			) {
	<div class="takelist__take">
	<h2 class="takelist__title"><a class="takelist__link" href="@controllers.Drafts.urlEdit(draftId)">@title</a></h2>
	<span class="takelist__aside">Last edited @common.Time.formatCompact().format(lastEdited)</span>
	</div>
	}
}
</div>
}
