@import controllers.Profile.Mode
@import db.tables.records.AccountRecord
@import java.sql.Timestamp
@import org.jooq.Result
@import static db.Tables.TAKEPUBLISHED

@args(AccountRecord account, boolean isLoggedIn, Result<?> takes)

@views.Profile.profileBase.template(account, isLoggedIn, Mode.published) -> {

<div class="takelist">
@if (takes.isEmpty()) {
	<span>Has not published any takes.</span>
} else {
	@for (take : takes) {
		@with(	String title = take.get(TAKEPUBLISHED.TITLE),
				String titleSlug = take.get(TAKEPUBLISHED.TITLE_SLUG),
				Timestamp publishedAt = take.get(TAKEPUBLISHED.PUBLISHED_AT)
				) {
		<div class="takelist__take">
			<h2 class="takelist__title"><a class="takelist__link" href="@controllers.Takes.userTitleSlug(account.getUsername(), titleSlug)">@title</a></h2>
			<span class="takelist__aside">Published on @common.Time.formatCompact().format(publishedAt)</span>
		</div>
		}
	}
}
</div>

}
