@args (String title, String description, String fileset, RockerBody content)

<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>@title</title>
<meta name="description" content="@description | MyTake.org">
<meta name="author" content="MyTake.org">

<meta property="og:title" content="@title" />
<meta property="og:description" content="@description" />
@*
<meta property="og:url" content="https://mytake.org@url" />
<meta property="og:image" content="https://mytake/org@image" />
*@
<meta property="fb:app_id" content="1014270045380974" />

@style(fileset)
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Source+Sans+Pro:300,400,700" crossorigin="anonymous">
<script src="https://use.fontawesome.com/be03d6dcba.js"></script>
<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<![endif]-->
</head>

<body>
<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId            : '1014270045380974',
			autoLogAppEvents : true,
			xfbml            : true,
			version          : 'v2.11'
		});
	};

	(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
</script>
<header class="header" role="banner">
	<a class="header__skip-link" href="#app" tabindex="1">Skip to main content</a>
	<div class="header__top">
		<div class="header__logo-container">
				<a class="header__logo-link" href="/"><span /></a>
				<div class="header__logo-image-container">
					<img class="header__logo-image" src="/assets/permanent/mytakedotorg-1adc924238.png" width="74" height="65" alt="MyTake.org | Fundamentals, in context." />
				</div>
				<em class="header__logo-title"><span class="header__color--blue">MyTake</span><span class="header__color--red">.org</span></em>
				<span class="header__logo-tagline">Fundamentals, in context.</span>
		</div>
		<div class="header__icon-list header__icon-list--top">
			<a class="header__fork-link" href="https://github.com/mytakedotorg/mytakedotorg" target="_blank"><img class="header__fork-img" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
			<div class="header__nav-toggle">
				<a href="javascript:void(0)" class="header__nav-toggle-link">
					<span class="header__nav-icon">
					<i class="fa fa-bars" aria-hidden="true"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
	<div class="header__nav">
		<div class="header__nav-inner">
			<nav class="nav collapse" role="navigation">
				<ul id="nav-list" class="nav__list nav__list--top">
					@* Be sure to change SASS variable if you add or remove nav links (cd assets && grep -Rn nav-items: *) *@
					<li class="nav__list-item nav__list-item--top"><a class="nav__link nav__link--top" href="@java2ts.Routes.FOUNDATION" tabindex="2"><span class="nav__link-text nav__link-text--top">Foundation</span></a></li>
					<li class="nav__list-item nav__list-item--top"><a id="login-link" class="nav__link nav__link--top" href="@java2ts.Routes.LOGIN" tabindex="3"><span class="nav__link-text nav__link-text--top">Login</span></a></li>
					<li class="nav__list-item nav__list-item--top"><a class="nav__link nav__link--top" href="@java2ts.Routes.ABOUT" tabindex="4"><span class="nav__link-text nav__link-text--top">About us</span></a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="header__banner">
		<div class="header__banner-inner">
			<div class="header__icon-list header__icon-list--bottom">
				<span class="header__icon header__icon--triangle"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
			</div>
			<div class="header__banner-links">
				<p class="header__text">Under construction</p>
				<p class="header__text"><a class="header__link" href="https://meta.mytake.org/t/how-to-use-mytake-org/28">How to use</a></p>
				<p class="header__text"><a class="header__link" href="https://meta.mytake.org/t/how-to-contribute-to-mytake-org/29">Contribute</a></p>
			</div>
		</div>
	</div>
</header>

@content

<footer class="footer">
<hr class="footer__hr" />
	<div class="footer__nav">
		<ul class="nav__list nav__list--bottom1">
			<li class="nav__list-item nav__list-item--bottom1"><a class="nav__link nav__link--bottom" href="@java2ts.Routes.FOUNDATION"><span class="nav__link-text nav__link-text--bottom">Foundation</span></a></li>
			<li class="nav__list-item nav__list-item--bottom2"><a class="nav__link nav__link--bottom" href="@java2ts.Routes.ABOUT"><span class="nav__link-text nav__link-text--bottom">About us</span></a></li>
		</ul>
		<ul class="nav__list nav__list--bottom2">
			<li class="nav__list-item nav__list-item--bottom3"><a class="nav__link nav__link--bottom" href="@java2ts.Routes.TOS"><span class="nav__link-text nav__link-text--bottom">Terms of Service</span></a></li>
			<li class="nav__list-item nav__list-item--bottom3"><a class="nav__link nav__link--bottom" href="@java2ts.Routes.PRIVACY"><span class="nav__link-text nav__link-text--bottom">Privacy Policy</span></a></li>
		</ul>
		<ul class="nav__list nav__list--bottom3">
			<li class="nav__list-item nav__list-item--bottom2"><a class="nav__link nav__link--bottom" href="@java2ts.Routes.FAQ"><span class="nav__link-text nav__link-text--bottom">Frequently Asked Questions</span></a></li>
		</ul>
	</div>
</footer>
<div class="fade-overlay"></div>
@script(fileset)
</body>
</html>
