.about {
  margin: 0 auto;
  padding: 0 $page-margin-mobile;
  background-color: palette(about, background);
  @media #{$mq-medium} {
    padding: 0 $page-margin;
  }
  width: $column-width;
  max-width: 100%;
}
.about__text {
  @include body('sans');
  color: palette(about, text);
}
.about__text--aside {
  font-size: 10px;
}
.about__list-item,
.about__sub-list-item {
  @include body('sans');
}
.about__text--special {
  color: palette(about, text--special);
  font-weight: 700;
}
.about__link {
  color: palette(about, text--link);
}
.about__image-container {
  text-align: center;
}
.about__image {
  max-width: 100%;
  height: auto;
}
