.banner {
  margin: 0 auto;
  background-color: palette(about, background);
  max-width: 100%;
  height: 35px;
}

.banner__text {
  @include body--small('sans');
  @include text-margin;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 35px;
}

.banner__text--red {
  color: palette(banner, text--red);
}

.banner__text--green {
  color: palette(banner, text--green);
}
