.banner {
  margin: 0 auto;
  background-color: palette(about, background);
  width: $column-width;
  max-width: 100%;
}

.banner__inner-container {
  padding: 0 $page-margin-mobile;
  @media #{$mq-medium} {
    padding: 0 $page-margin;
  }
}

.banner__text {
  @include body--small('sans');
}

.banner__text--red {
  color: palette(banner, text--red);
}

.banner__text--green {
  color: palette(banner, text--green);
}
