$document-header-height: 118px;
$document-margin-top: 0px;

.document {
  width: $column-width;
  max-width: 100%;
  position: relative;
  z-index: 1;
}
.document--overlay {
  position: relative;
  z-index: 1;
  background-color: palette(document, background);
  @media #{$mq-medium} {
    left: 50%;
    margin-left: -384px;
  }
}
.document--static {
  margin: $document-margin-top auto;
}
.document__header {
  width: $column-width;
  max-width: 100%;
  margin: 0 auto;
  background-color: palette(document, background);
  overflow: hidden;
  height: $document-header-height - 1; //Subtract border bottom width
  border-bottom: 1px solid palette(header, border);
  @media #{$mq-medium} {
    border-bottom: none;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 1px;
      border-bottom: 1px solid palette(header, border);
      left: $page-margin-mobile;
      right: $page-margin-mobile;
      @media #{$mq-medium} {
        left: $content-margin;
        right: $content-margin;
      }
    }
  }
}
.document__header--visible {
  position: relative;
  z-index: 15;
}
.document__header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  @media #{$mq-medium} {
    left: 50%;
    margin-left: -$column-width/2; // 768px/2
  }
}
.document__header--hidden {
  visibility: hidden;
  height: 0;
}
.document__heading {
  margin-top: 13.5px;
  margin-bottom: 13.5px;
  color: palette(document, text);
  @include heading2;
  @include text-margin-lr;
}
.document__header-actions {
  @include text-margin-lr;
}
.document__instructions {
  margin-top: 20px;
  @media #{$mq-medium} {
    margin-top: 0;
    margin-bottom: 10.5px;
  }
  color: palette(document, text);
  @include body--lead;
}
.document__row {
  z-index: 5;
  position: relative;
}
.document__row--push {
  margin-top: $document-header-height + $document-margin-top;
}
.document__row-inner {
  position: relative;
}
.document__text {
  position: relative;
  padding: 1px;
  color: palette(document, color);
  z-index: 1;
  @include text-margin;
  @include body;
}
.document__text--block {
  border: 1px solid palette(document, border);
  box-shadow: 1px 1px 2px palette(document, shadow);
  padding: 0 15px;
  width: 100%;
}
.document__text--selected {
  color: palette(document, text--highlight);
  font-weight: 700;
}
.document__button {
  @include button;
  margin-right: $page-margin-mobile;
  margin-bottom: 10.5px;
  @media #{$mq-medium} {
    margin-right: $content-margin;
  }
}
.document__button--blue {
  @include button--blue;
}
.document__button--red {
  @include button--red;
}
.document__node {
  position: relative;
}
.document__node-text-container {
  position: relative;
}
.document__node-height-div {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
}
.document__node-text {
  margin-top: 0;
  background-color: palette(document, background);
}
.document__node-text--speaker {
  user-select: none;
  @include heading3;
}
.document__node-text--speaker-top {
  user-select: none;
  @include heading3;
  @include text-margin;
}
.document__node-text--h2 {
  @include heading2;
}
.document__node-text--hidden-h2 {
  @include heading2;
}
.document__node-text--h3 {
  @include heading3;
}
.document__node-text--hidden-h3 {
  @include heading3;
}
.document__node-text--p {
  @include body;
}
.document__node-text--hidden-p {
  @include body;
}
.document__text--caption {
  position: relative;
  height: 0px;
  overflow-y: scroll;
  background-color: palette(document, background);
  @include body;
  &:last-child {
    padding-bottom: 200px;
  }
}
