@mixin overrideDefaultTextArea {
  position: relative;
  z-index: 1;
  width: 100%;
  border: 0;
  overflow: hidden;
  outline: none;
  box-shadow: none;
  resize: none;
  box-sizing: border-box;
  background-color: palette(editor, background);
  @include text-margin;
}
@mixin textareaHeightDiv {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
  padding-right: $content-margin;
  margin-top: 0;
  @include text-margin;
}
.editor__wrapper {
  margin: auto;
  padding-top: $page-margin-mobile * $vertical-margin-multiplier;
  @media #{$mq-medium} {
    padding-top: $content-margin * $vertical-margin-multiplier;
  }
  width: $column-width;
  max-width: 100%;
  background-color: palette(editor, background);
  position: relative;
  z-index: 10;
}
.editor {
  position: relative;
  min-height: 300px;
  overflow: hidden;
}
.editor__inner {
  position: relative;
}
.editor__text-container {
  padding-right: $content-margin;
}
.editor__title {
  position: relative;
  @include overrideDefaultTextArea;
  @include heading1;
  margin-top: 0;
}
.editor__title-height-div {
  @include textareaHeightDiv;
  @include heading1;
}
.editor__title--placeholder {
  opacity: 0.3;
}
.editor__block {
  position: relative;
  z-index: 10;
}
.editor__block--base {
  position: relative;
}
.editor__block--overlay {
  position: absolute;
}
.editor__paragraph--placeholder {
  opacity: 0.3;
}
.editor__paragraph {
  position: relative;
  @include overrideDefaultTextArea;
  @include body('sans');
}
.editor__paragraph-height-div > p {
  @include textareaHeightDiv;
  @include body('sans');
}
.editor__document {
  position: relative;
  background: palette(editor, document__background);
  color: palette(editor, text);
  border-radius: 3px;
  @include body;
  margin-bottom: $page-margin-mobile * $vertical-margin-multiplier;
  @media #{$mq-medium} {
    margin-bottom: $content-margin * $vertical-margin-multiplier;
  }
  &.editor__document--hover {
    cursor: pointer;
    &:hover {
      background: palette(editor, document__background--hover);
    }
    padding-left: $page-margin-mobile;
    padding-right: $page-margin-mobile;
    @media #{$mq-medium} {
      padding-left: $content-margin;
      padding-right: $content-margin;
    }
  }
  &.editor__document--focus {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: $page-margin-mobile - 2px;
    padding-right: $page-margin-mobile - 2px;
    @media #{$mq-medium} {
      padding-left: $content-margin - 2px;
      padding-right: $content-margin - 2px;
    }
  }
  p,
  h2,
  h3 {
    z-index: 1;
    position: relative;
    overflow: hidden;
    margin-top: 0;
  }
  > p {
    //margin: 0;
  }
}
.editor__document-title {
  @include heading3;
  margin: 0;
  margin-bottom: $page-margin-mobile / 2;
  @media #{$mq-medium} {
    margin-bottom: $content-margin / 2;
  }
}
.editor__document-highlight {
  color: palette(editor, text--highlight);
  font-weight: 700;
}
.editor__video {
  display: block;
  margin: auto;
  max-width: 100%;
}
.editor__video-container {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  background: palette(editor, document__background);
  color: palette(editor, text);
  border-radius: 3px;
  &:hover {
    background: palette(editor, document__background--hover);
    .document__node-text,
    .document__text {
      background: palette(editor, document__background--hover);
    }
  }
  .document__node-text,
  .document__text {
    background: palette(editor, document__background);
  }
}
