@mixin clearfix {
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}

@mixin box-sizing {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
@function fontsize($block, $size) {
    @if not map-has-key($fontsize, $block) {
      @warn "No palette found for `#{$block}` in $styleguide map. Property omitted.";
    }

    @return map-get(map-get($fontsize, $block), $size);
}

@function font($font) {
    @if not map-has-key($fonts, $font) {
      @warn "No font found for `#{$font}` in $fonts map. Property omitted.";
    }

    @return map-get($fonts, $font);
}

@function palette($palette, $tone) {
    @if not map-has-key($palettes, $palette) {
      @warn "No palette found for `#{$palette}` in $palettes map. Property omitted.";
    }

    @return map-get(map-get($palettes, $palette), $tone);
}
