@import auth.AuthModule
@import forms.api.FormMarkup

@args(FormMarkup createAccount)

@views.base.template("Account confirmation unknown", "Account confirmation unknown") -> {

	<section id="create">
		<div class="heading-line">
			<h2>Create account</h2>
		</div>
		<div class="content-bg">
			@createAccount.formError()
			@createAccount.openForm("id", "create")
				@createAccount.field(AuthModule.CREATE_USERNAME).label("Username").errorSpan("class", "form__error").input("text", "class", "form-control")
				@createAccount.field(AuthModule.CREATE_EMAIL).label("Email").errorSpan("class", "form__error").input("email", "class", "form-control")
				@createAccount.field(AuthModule.REDIRECT).input("hidden")
				<input type="submit" class="btn btn-success" value="Try again" />
			@createAccount.closeForm()
		</div>
	</section>

}
