@import auth.AuthModule
@import forms.api.FormMarkup

@args(String loginReason, FormMarkup loginForm, FormMarkup createAccount)

@views.base.template("Log in", "Login or create an account") -> {
	@if (loginReason != null) {
		<div class="alert alert-success">@loginReason</div>
}
<section class="section">
	<div class="section__inner section__inner--login">
	<h2 class="section__heading">Log in</h2>
	<div class="section__content">
		@loginForm.openForm("class", "form form--login")
		@loginForm.field(AuthModule.LOGIN_EMAIL).label("Email", "class", "form__label form__label--email").errorSpan().input("email", "class", "form__input form__input--email")
		@loginForm.field(AuthModule.REDIRECT).input("hidden")
		<input type="submit" class="form__submit form__submit--blue" value="Log in" />
		@loginForm.closeForm()
	</div>
	</div>

	<div class="section__inner section__inner--create">
	<h2 class="section__heading">Create account</h2>
	<div class="section__content">
		@createAccount.openForm("class", "form form--create")
		@createAccount.field(AuthModule.CREATE_USERNAME).label("Username", "class", "form__label form__label--username").errorSpan().input("text", "class", "form__input form__input--username")
		@createAccount.field(AuthModule.CREATE_EMAIL).label("Email", "class", "form__label form__label--email").errorSpan().input("email", "class", "form__input form__input--email")
		@createAccount.field(AuthModule.REDIRECT).input("hidden")
		<input type="submit" class="form__submit form__submit--red" value="Claim username" />
		@createAccount.closeForm()
	</div>
	</div>
</section>

}
