@import auth.AuthModule
@import auth.TinfoilLoginForm
@import forms.api.FormMarkup

@args(FormMarkup login)

@views.base.template("Tinfoil login", "Tinfoil login") -> {

	<section class="section">
		<div class="section__inner">
			<h2 class="section__heading">Debug login - for security scans only</h2>
			<div class="section__content">
				@login.formError()
				@login.openForm("class", "form form--create")
					@login.field(TinfoilLoginForm.USERNAME).label("Username", "class", "form__label form__label--username").errorSpan("class", "form__error").input("text", "class", "form__input form__input--username")
					@login.field(TinfoilLoginForm.PASSWORD).label("Password", "class", "form__label form__label--email").errorSpan("class", "form__error").input("email", "class", "form__input form__input--email")
					<input type="submit" class="form__submit form__submit--red" value="Login" />
				@login.closeForm()
			</div>
		</div>
	</section>

}
