@import java.sql.Timestamp
@import org.jooq.Result
@import static db.Tables.TAKEPUBLISHED

@args(String username, Result<?> takes)

@views.naked.template("MyTake.org", username, "base") -> {
<div class="takelist">
<h1 class="takelist__user">@username</h1>

@if (takes.isEmpty()) {
	<span>@username has not published any takes.</span>
} else {
	@for (take : takes) {
		@with(	String title = take.get(TAKEPUBLISHED.TITLE),
				String titleSlug = take.get(TAKEPUBLISHED.TITLE_SLUG),
				Timestamp publishedAt = take.get(TAKEPUBLISHED.PUBLISHED_AT)
				) {
		<div class="takelist__take">
			<h2 class="takelist__title"><a class="takelist__link" href="@controllers.Takes.userTitleSlug(username, titleSlug)">@title</a></h2>
			<span class="takelist__aside">Published on @common.Time.formatCompact().format(publishedAt)</span>
		</div>
		}
	}
}

</div>
}
