@mixin button {
  @include body;
  position: relative;
  border-radius: 5px;
  display: inline-block;
  padding: 5px $page-margin-mobile;
  @media #{$mq-medium} {
    padding: 5px $content-margin;
  }
  text-decoration: none;
  -webkit-appearance: none; // prevent weird iOS look with <button> elements
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

@mixin button--small {
  position: relative;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none; // prevent weird iOS look with <button> elements
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

@mixin button--blue {
  border: none;
  color: palette(button, color--base);
  background: palette(button, background--base);
  &:hover {
    background: palette(button, background--base-hover);
  }
}

@mixin button--red {
  border: none;
  color: palette(button, color--action);
  background: palette(button, background--action);
  &:hover {
    background: palette(button, background--action-hover);
  }
}

@mixin button--borderless {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  &:focus {
    outline: 0;
  }
  color: palette(button, color--borderless);
  &:hover {
    color: palette(button, color--borderless-hover);
    cursor: pointer;
  }
}
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin content-column {
  width: $column-width;
  max-width: 100%;
  margin: auto;
}

@mixin text-margin-lr {
  margin-left: $page-margin-mobile;
  margin-right: $page-margin-mobile;
  @media #{$mq-medium} {
    margin-left: $content-margin;
    margin-right: $content-margin;
  }
}

@mixin text-margin {
  @include text-margin-lr;
  margin-bottom: $page-margin-mobile * $vertical-margin-multiplier;
  @media #{$mq-medium} {
    margin-bottom: $content-margin * $vertical-margin-multiplier;
  }
}

@function palette($palette, $tone) {
  @if not map-has-key($palettes, $palette) {
    @warn "No palette found for `#{$palette}` in $palettes map. Property omitted.";
  }

  @return map-get(map-get($palettes, $palette), $tone);
}
