{% extends "documentReader.html" %}

{% block content %}
  <div id="app"></div>
  <script type="text/javascript">
    var app = document.getElementById('app')
    app.setAttribute('data-init', JSON.stringify({
			"title": "Does a law mean what it says, or what it meant?",
			"blocks": [
				{
					"kind": "paragraph",
					"text": "King: “I hereby declare that Seabiscuit shall be my royal horse!”"
				},
				{
					"kind": "paragraph",
					"text": "Subject: “But that’s MY horse!!”"
				},
				{
					"kind": "paragraph",
					"text": "King: “I said it – it’s the law of the land. Thief! Return my horse to me!”"
				},
				{
					"kind": "paragraph",
					"text": "..."
				},
				{
					"kind": "paragraph",
					"text": "That’s how people lived for a long time. The fix was to write laws down, so that the power of the government would no longer be subject to the arbitrary whims of any one person. Only trouble is, what does a law mean?"
				},
				{
					"kind": "paragraph",
					"text": "Textualism says that a law means what it says in its text. Simple enough. On the other hand, Originalism says that a law means what was meant when it was originally written. Figuring this out is a little trickier – you’ve got to be not just a lawyer but also an historian to have any chance of understanding the law. The upside of Originalism is that it can help the law to be more stable against the whims of a changing culture – our Constitution is more than 220 years old, and a lot has changed since then! A great example is the 2nd amendment:"
				},
				{
					"kind": "document",
					"document": "AMENDMENTS",
					"range": [
						30794,
						30939
					]
				},
				{
					"kind": "paragraph",
					"text": "The Arms of the 21st century are a lot different than the Arms of 1789! A textualist has little choice in interpreting this law – clearly automatic rifles, grenades, rockets, and even nukes are protected. They are Arms, afterall!"
				},
				{
					"kind": "paragraph",
					"text": "An originalist has to go back to 1789 to understand the original meaning. Black powder muskets were the most powerful Arms of the time, so perhaps that is what the law should protect today? Although that captures the original technology, it doesn’t capture the original intent."
				},
				{
					"kind": "document",
					"document": "AMENDMENTS",
					"range": [
						30794,
						30867
					]
				},
				{
					"kind": "paragraph",
					"text": "In 1776, George Washington led an American militia to victory against a tyrannical royal crown. As the newly free colonies organized their national government, many were afraid that it might be just as oppressive as the royal crown had been. It sure seems like the original intent of the 2nd amendment was to enshrine the right of the citizenry to have the means for armed rebellion."
				},
				{
					"kind": "paragraph",
					"text": "If our judges get to decide that the law means whatever they want it to mean, then we still live under a King, we’ve just changed his name to Judge. That’s why it’s important to apply consistent methodology when interpreting the law. But in this case, whether you’re a Textualist or an Originalist, I don’t see how the 2nd amendment allows for any of the gun restrictions in place today."
				}
			]
		}))

  </script>
{% endblock %}
