{% extends "base.html" %}

{% block content %}
<div class="about">
  <p class="about__text about__text--lead">We Americans can't agree which way is up anymore. Here's why:</p>
  <p class="about__text about__text--aside">A cartoon of Donald Trump saying "We need to protect our borders" in front of an "MSNBC" camera, with a wire going to a TV screen with Rachel Maddow saying "Donald Trump says all Mexicans are rapists" (red location)</p>
  <p class="about__text about__text--aside">A cartoon of Hillary Clinton saying "We need to protect our kids from guns" in front of a "Fox" camera, with a wire going to a TV screen that says "Hillary Clinton wants to rip up the 2nd Amendment!" (blue location)</p>
  <p class="about__text">Our politicians say one thing, the media twists it around, and our fellow citizens believe the lies. The trouble is, politicians and advertisers are selling us each our own set of lies, tailored to divide us further. Take the cartoon above. We showed it to you because, based on where you live, you probably voted for _____. In fact, we show a different image to your fellow citizens in (liberal California | conservative Texas):</p>
  <p class="about__text about__text--aside">Reveal the opposite image above as the user scrolls down</p>
  <p class="about__text">MyTake is a radically transparent platform for citizens to speak their mind without political parties getting in the way. Here's how it works:<p>
	<div class="about__image-container">
		<img class="about__image" src="./images/bias_overlap.png" width="323" height="219" />
	</div>
  <ul class="about__list">
    <li class="about__list-item">We start with a <span class="about__text about__text--special">Foundation</span> of unbiased <span class="about__text about__text--special">Facts</span> everyone can agree on. Only the following make the cut:
        <ul class="about__sub-list">
        	<li class="about__sub-list-item">Presidential debates, 1980 - present.  Always the full original source.  No spin, no analysis, no cherry-picking, nothing out of context.</li>
        	<li class="about__sub-list-item">Our founding documents.  The Declaration of Independence, the Articles of Confederation, and the United States Constitution.</li>
        </ul>
    </li>
    <li class="about__list-item">Give your <span class="about__text about__text--special">Take</span>, and make it more convincing by adding snippets from this unbiased <span class="about__text about__text--special">Foundation</span>.  You can't link to anything besides this <span class="about__text about__text--special">Foundation</span>.</li>
    <li class="about__list-item">Share your <span class="about__text about__text--special">Take</span> with friends, get their <span class="about__text about__text--special">Take</span> back.</li>
  </ul>
  <p class="about__text">Our only goal is to build a place where we can have civil disagreements based in reality.  How can you trust us?  You don't, just see for yourself.<p>
  <ul class="about__list">
    <li class="about__list-item">You can see the full source code for this site, and all the discussions which created it <a class="about__link" href="https://github.com/mytake/mytake">right here</a>.</li>
    <li class="about__list-item">We publish every financial transaction we've ever made here(TODO)
      <ul class="about__sub-list">
        <li class="about__sub-list-item">Everyone who works on this site earns the US median wage of $56,755.</li>
        <li class="about__sub-list-item">We got started with donations from X and Y, but we will become financially independent and self-sustaining by selling merchandise and possibly light advertising.  We're a non-profit which will only pay the US median wage, so we'll only run as many ads as we need to keep the lights on.</li>
      </ul>
    </li>
    <li class="about__list-item">Want to help us make the site better? Talk about how MyTake should work over at discuss.mytake.org.</li>
	</ul>
</div>
{% endblock %}
