//     COLOR
//
//     Where all color's variables are defined
//
//     Thanks to SASS Map, we can define all colors at one place.
//     We also respect our BEM like notation and files architecture.

$base: #2c4770;
$base-dark: #142f54;
$base-darkest: #051a38;
$base-light: #4c678c;
$base-lightest: #758aa8;

$secondary: #4a9130;
$secondary-dark: #2b6d12;
$secondary-darkest: #134800;
$secondary-light: #73b55a;
$secondary-lightest: #a4d990;

$tertiary: #aaa538;
$tertiary-dark: #7f7b15;
$tertiary-darkest: #555100;
$tertiary-light: #d4cf69;
$tertiary-lightest: #fffba9;

$action: #a03546;
$action-dark: #781424;
$action-darkest: #50000d;
$action-light: #c86373;
$action-lightest: #f0a0ad;

$white: #fff;
$black: #000;

$palettes: (
  header:
    (
      background: $white,
      border: $base-darkest,
      text: $base,
      text--hover: $base-lightest,
      text--link: $base-light,
      skip-bg: $action,
      skip-text: $white,
      banner__background: $tertiary-lightest
    ),
  nav:
    (
      text: $base,
      text--hover: $base-lightest,
      active: $secondary,
      active--hover: $secondary-light
    ),
  document:
    (
      background: $white,
      background--highlight: lighten($base-lightest, 10%),
      background--scrollbar-track: $base-lightest,
      background--scrollbar-thumb: $white,
      border: $base-lightest,
      shadow: $base-darkest,
      text: $base-darkest,
      text--highlight: $base-darkest
    ),
  video: (text: $base-darkest),
  editor:
    (
      background: $white,
      background--highlight: lighten($base-lightest, 10%),
      border: $base-lightest,
      shadow: $base-darkest,
      text: $base-darkest,
      text--highlight: $base-darkest
    ),
  feed:
    (
      background--highlight: lighten($base-lightest, 10%),
      card__border: $base-lightest,
      card__shadow: $base-darkest,
      text: $base-darkest,
      text--document: $base-darkest,
      text--highlight: $base-darkest,
      text--faded: $base-darkest
    ),
  foundation:
    (
      text: $base-darkest,
      card-title--debates: $white,
      card-border: $base-lightest,
      shadow: $base-darkest
    ),
  hero:
    (
      background: $base,
      title: $white,
      text: $base-lightest,
      text--special: $white
    ),
  button:
    (
      background--action: $action,
      background--base: $base,
      background--action-hover: $action-light,
      background--base-hover: $base-light,
      color--action: $white,
      color--base: $white,
      color--action-shadow: $base,
      color--base-shadow: $base-darkest
    ),
  about:
    (
      background: $white,
      text--special: $base,
      text: $base-darkest,
      text--link: $base-light
    ),
  banner: (text: $action, text--link: $base-light)
);
