//     COLOR
//
//     Where all color's variables are defined
//
//     Thanks to SASS Map, we can define all colors at one place.
//     We also respect our BEM like notation and files architecture.

$base: #2c4770;
$base-dark: #142f54;
$base-darkest: #051a38;
$base-light: #4c678c;
$base-lightest: #758aa8;

$base-highlight: #204d90; // $base w/ Hue +10 and Saturation +10

$secondary: #4a9130;
$secondary-dark: #2b6d12;
$secondary-darkest: #134800;
$secondary-light: #73b55a;
$secondary-lightest: #a4d990;

$tertiary: #aaa538;
$tertiary-dark: #7f7b15;
$tertiary-darkest: #555100;
$tertiary-light: #d4cf69;
$tertiary-lightest: #fffba9;

$action: #a03546;
$action-dark: #781424;
$action-darkest: #50000d;
$action-light: #c86373;
$action-lightest: #f0a0ad;

$action-highlight: #aa2c22; // $action w/ Hue +10 and Saturation +10

$white: #fff;
$black: #000;

$palettes: (
  header: (
    background: $white,
    border: $base-darkest,
    text: $base,
    text--blue: $base,
    text--red: $action,
    text--hover: $base-lightest,
    text--link: $base-light,
    skip-bg: $action,
    skip-text: $white,
    banner__background: $tertiary-lightest,
  ),
  nav: (
    text: $base,
    text--hover: $base-lightest,
    active: $secondary,
    active--hover: $secondary-light,
  ),
  document: (
    background: lighten($base-lightest, 40%),
    background--header: $white,
    background--highlight: lighten($base-lightest, 10%),
    background--scrollbar-track: $base-lightest,
    background--scrollbar-thumb: $white,
    border: $base-lightest,
    shadow: $base-darkest,
    text: $base-darkest,
    text--highlight: $base-darkest,
    text--red: $action,
  ),
  video: (
    text: $base-darkest,
  ),
  editor: (
    background: $white,
    document__background: lighten($base-lightest, 40%),
    document__background--hover: lighten($base-lightest, 36%),
    border: $base-lightest,
    shadow: $base-darkest,
    text: $base-darkest,
    text--highlight: $base-darkest,
  ),
  feed: (
    background: $white,
    background--highlight: lighten($base-lightest, 40%),
    card__border: $base-lightest,
    card__shadow: $base-darkest,
    text: $base-darkest,
    text--document: $base-darkest,
    text--faded: $base-darkest,
  ),
  foundation: (
    text: $base-darkest,
    card-title--debates: $white,
    card-border: $base-lightest,
    shadow: $base-darkest,
  ),
  home: (
    background--dark: lighten($base-lightest, 35%),
    searchbar-border: $action,
    searchbar-button: $action,
    searchbar-button--hover: $action-light,
    searchbar-button-text: $white,
    title: $base-darkest,
  ),
  button: (
    background--action: $action,
    background--base: $base,
    background--action-hover: $action-light,
    background--base-hover: $base-light,
    background--disabled: lighten($base-lightest, 20%),
    color--action: $white,
    color--base: $white,
    color--action-shadow: $base,
    color--base-shadow: $base-darkest,
    color--disabled: $base-lightest,
    color--borderless: $base-light,
    color--borderless-hover: $base-lightest,
  ),
  about: (
    background: $white,
    text--special: $base,
    text: $base-darkest,
    text--link: $base-light,
  ),
  banner: (
    text--red: $action,
    text--green: $secondary,
  ),
  section: (
    background: $white,
    border: $base,
    text: $base-darkest,
    text--alert: $action,
  ),
  form: (
    text: $base-darkest,
    text--action: $action,
  ),
  takelist: (
    text: $base-darkest,
  ),
  profile: (
    tab-background: $white,
    tab-text: $base-darkest,
    tab-border--active: $action-highlight,
  ),
  reaction: (
    text: $base-darkest,
    background: $white,
    border: $base-darkest,
  ),
  dropdown: (
    background: $white,
    border: $base-darkest,
  ),
  share: (
    text: $base-darkest,
    text--green: $secondary,
    background: $white,
    border: $base-lightest,
    button-text: $white,
    button-background: $base,
    button-background--hover: $base-light,
    icon: $base-light,
    icon--hover: $base-lightest,
  ),
  trackSlider: (
    color--handle: $base-dark,
    border: $base-darkest,
  ),
  searchbar: (
    background: $action,
    border: $white,
    cancel-icon: $base-lightest,
    text--dark: $base-darkest,
    icon: $tertiary,
    button: $base,
    input-border: $base,
    button--hover: $base-light,
  ),
  anonymous: (
    text: $base-lightest,
  ),
  social: (
    background: $base,
    background--highlight: $base-lightest,
  ),
  tabs: (
    border: $base,
  ),
);
